/* Body */
body {
    color: #dbdbdb;
    background-color: #1381E2;
    font-family: arial;
}

/* Navigation */
ul {
    display: flex;
    justify-content: space-between;
    /*descolar o texto dos cantos da tela*/
    list-style-type: none;
    align-items: center;
    padding: 15px;
    padding-bottom: 0px;
    background-color: #583785b9;
    /* coloca o texto em negrito */
    font-weight: bold;
    font-size:18px;
}
.selected {
    background-color: #B27CF3;
    border-radius: 15%;
    border-bottom-left-radius: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-inline: 15px;
}

a {
    color: black;
    text-decoration: underline;
    
}

/* Header */
header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
header img {
    width: 150px;
    height: 150px;
    border-radius: 75%;  
}
header h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: -10px;

}
header p {
    font-size: 15px;
    text-align: center ;
    color: #3DCFFF;
    background-color: black;
    /* aumenta o tamanho do background */  
    padding: 3px;
}
h1 {
    color: black;
    text-align: center;
}

.center {
    text-align: center;
}

/* Main */  
main {
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
    /* limita o tamanho do texto */
    max-width: 1000px; 
    /* deixa o texto no centro da tela */
    margin-left: auto;
    margin-right: auto;
}
main section {
    margin-top: 0px;
    margin-bottom: 20px;
    
}
main section img {
    width: 150px;
    height: 150px;
}
main section {
    margin-bottom: 10px;
    font-size: 20px;
    color: #dbdbdb;
    /*borda do texto*/
    border: 2px solid black;
    /*arredondar a borda do texto*/
    border-radius: 10%; 
    /* distancia da borda e do texto */
    padding: 15px;
    text-decoration: none;
    /* lista na horizontal */
    justify-content: space-between;
    align-items: center;
}
main section li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;

}
main h1 {
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 30px;
    /*sublinhar o texto*/
    text-decoration: underline;
    color : black;
}
main section h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    color: black;
}

main mark {
    background-color: #B27CF3;   
    color: rgb(0, 0, 0);
}

/* Footer */
footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: center; /* Center the social media icons */
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin: 2px;
}